<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="\lib\bootstrap-5.3.3-dist\css\bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            color: rgb(255, 255, 255);
            font-size: 18px;
            background-color: rgb(52, 52, 52);
        }
    </style>
</head>
<body>
    <div class="m-2">
        @RenderBody()
    </div>
</body>
</html>
