<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .translation-row-background {
            background-color: rgb(60, 60, 60);
            padding: 30px;
        }


        .background {
            background-color: rgb(50, 50, 50);
        }
    </style>
</head>
<body class="background">
    <div class="m-2">
        @RenderBody()
    </div>
</body>
</html>
