@using WebProject.Controllers
@model TranslateViewModel
@{
    Layout = "_Layout";
}


<div class="text-center">
    <h1 class="p-3 mb-3 bg-dark text-white"> Stovna nýggja týðing </h1>
</div>

<div class="container p-2">
    <div asp-validation-summary="All" class="text-danger"></div>
    <form asp-action="Create" method="post" id="htmlform">
        <div class="row translation-row-background justify-content-center align-items-center" >
            <div class="col-5 text-center" style="background-color: rgb(45, 45, 45); height: 450px;">
                
                <label class="p-1 m-2 mt-3 w-75 fs-1 fw-semibold border bg-black text-white "> Enskt </label> <br>
                        
                <textarea asp-for="English" class="w-75 h-75 p-3 mb-1"></textarea>
                    
            </div>

            <div class="col-5 offset-1 text-center" style="background-color: rgb(45, 45, 45); height: 450px;">
                
                <label class="p-1 m-2 mt-3 w-75 fs-1 fw-semibold border bg-black text-white "> Føroyskt </label> <br>
                
                <textarea asp-for="Faroese" class="w-75 h-75 p-3 mb-1"></textarea>
            
            </div>
        </div>
        <div class="col p-3 text-center">
            <button type="submit" class="p-1 m-2 w-25 fs-3 border bg-success text-white "> Skráset týðing </button>
        </div>
    </form>

<div class="container p-2">
    <div class="row justify-content-center align-items-center">
        <div class="col p-3 text-center ">
            <a asp-action="index" asp-controller="home" class="btn p-1 m-2 w-25 fs-3 border btn-dark text-white">
                Aftur
            </a>
        </div>
    </div>
</div>

