@{
    Layout = "_Layout";
}

<div class="container p-2">
    <div class="row justify-content-center align-items-center">
        <div class="col p-3 text-center ">
            <a asp-action="index" asp-controller="home" class="btn p-1 m-2 w-25 fs-3 border btn-dark text-white">
                Aftur
            </a>
        </div>
    </div>
</div>

