@using WebProject.Controllers
@model Translation
@{
    ViewBag.Title = "ShowSelectedView";
    Layout = "_Layout";
}

<h4 class="bg-primary text-white text-center p-2">Translation</h4>
<table class="table table-sm table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>English</th>
            <th>Faroese</th>
            <th>Approval</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>@Model.TranslationId</td>
                <td>@Model.English</td>
                <td>@Model.Faroese</td>
                <td>@Model.Approval</td>
                <td class="text-center">
                </td>
            </tr>
    </tbody>
</table>
<div class="container p-2">
    <div class="row">
        <div class="col p-3 text-center">

            <a asp-action="index" asp-controller="Translate" class="btn p-1 m-2 w-25 fs-3 border btn-success text-white">
                Umset Tekst
            </a>

            <a asp-action="index" asp-controller="FullList" class="btn p-1 m-2 w-25 fs-3 border btn-info text-white">
                Listi av Umsetingum
            </a>
            
            <a asp-action="index" asp-controller="Create" class="btn p-1 m-2 w-25 fs-3 border btn-danger text-white">
                Ger nýggja umseting
            </a>
        </div> 
    </div>
</div>