<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="\lib\bootstrap-5.3.3-dist\css\bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            color: rgb(255, 255, 255);
            font-size: 24px;
            background-color: rgb(60, 60, 60);
        }

        div {
            text-align: center;
        }

        .form {
            color: rgb(255, 255, 255);
            font-size: 36px;
            background-color: rgb(50, 50, 50);
            display: inline-block;
            padding: 20px;
            margin: 20px;
            text-align: center;
        }
        
        textarea {
            width: 500px;
            height: 200px;
        }
        
        button {
            width: 240px;
            height: 60px;
            font-size: 26px;
        }
    </style>
</head>
<body>
    <div class="m-2">
        @RenderBody()
    </div>
</body>
</html>
