@{
    Layout = "_Layout";
}

<div>

    <div class="form">
        <h3>
            Translate
        </h3> <br>

        <form asp-action="TranslateText" method="post" id="htmlform">
            <textarea></textarea>
            <textarea></textarea> <br>
            <button type="button">Translate</button>
        </form>
    </div>
</div>